
<%- include("./partials/header.ejs") %>


<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold" style="font-family: 'Times New Roman', Times, serif">About</h1>
      <p class="col-md-8 fs-6">Mauris pretium placerat orci ut convallis. Vestibulum feugiat erat id sem pulvinar, eu bibendum lectus molestie. Morbi sit amet erat magna. Phasellus volutpat congue massa, nec eleifend nisi varius in. Fusce finibus cursus mi, id luctus neque ultricies et. Vivamus pellentesque justo ornare nisl cursus molestie. Donec lobortis, tellus ut semper pretium, augue libero varius est, vitae tincidunt est diam a lectus. Sed dignissim lobortis pellentesque. Nullam ornare libero non nisi porttitor, dapibus aliquet turpis gravida. Nunc porttitor fringilla cursus. Aenean feugiat diam massa, et tempus nibh dignissim ut. Quisque consequat pulvinar convallis. Donec vel nulla convallis, ultricies purus eu, ultrices massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean tincidunt ex vitae turpis tristique, eu convallis leo dictum. Cras rhoncus neque non lectus iaculis tempor.
        Duis auctor tortor ligula, vitae rutrum leo ultricies vel. Curabitur vestibulum pulvinar urna. Pellentesque hendrerit, mauris ac mattis vulputate, massa risus tincidunt dui, ut aliquet nibh neque dictum risus. Vestibulum venenatis pharetra turpis a semper. In hac habitasse platea dictumst. Praesent gravida varius dui. Nunc sit amet fringilla velit.</p>
      <button class="btn btn-danger btn-lg" type="button"><a href="/" class="nav-link">HOME</a></button>
    </div>
  </div>


  <%- include("./partials/footer.ejs") %>