<%- include("./partials/header.ejs") %>
<div class="p-5 mb-4 bg-body-tertiary rounded-3 features">
    <h1>Features</h1>
    <ul>
        <li>You can get real time weather data of any city or location listed in our website.</li>
        <li>It's completly for getting real time data of 5 city's per day.</li>
        <li>for unlimited usage and Weather Forecasting feel free to visit our pricing page</li>
    </ul>
    <button class="btn btn-danger" type="button"><a href="/" class="nav-link">HOME</a></button>
</div>
<%- include("./partials/footer.ejs") %>