<%- include("./partials/header.ejs") %>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img src="/icons/icons8-weather-100.png" alt="Weather App" height="90px">
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2">Home</a></li>
        <li><a href="/features" class="nav-link px-2">Features</a></li>
        <li><a href="/pricing" class="nav-link px-2">Pricing</a></li>
        <li><a href="/about" class="nav-link px-2">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-danger me-2"><a href="/" class="nav-link">Login</a></button>
        <button type="button" class="btn btn-outline-danger">Sign-up</button>
      </div>
    </header>
    <p class="bio">From Anywhere you can get data from Everywhere</p>
    <hr>
  </div>

  <div class="signupBox">
        <img src="/icons/icons8-weather-100.png" alt="Weather App" height="90px">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <form method="post" action="/signup">
          <div class="inputBar">
            <input name="firstName" type="text" class="form-control" placeholder="First name" required>
            <input name="lastName" type="text" class="form-control" placeholder="Last name" required>
            <input name="username" type="email" class="form-control" placeholder="Email id" required>
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
            <button class="btn btn-danger w-100 py-2" type="submit">Sign in</button>
        </div>
        </form>
  </div>
  



<%- include("./partials/footer.ejs") %>